name: Next.js Push CI/CD (v 1.4)

env:
  IMAGE_TAG: 1.0.0

on:
  push:
    branches:
      - infra/ci-cd-test
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Next.js Image Build and Push
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t wonseoop/hackton-fe:1.0.0 \
            --push .

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      # - name: Create .env file
      #   run: |
      #     echo "NEXT_PUBLIC_API_URL=${{ secrets.API_URL }}" >> .env
      #     echo "NODE_ENV=production" >> .env
      #     echo "IMAGE=wonseoop/hackton-fe:1.0.0" >> .env

      - name: Install AWS CLI
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Get FE Public IPs by Name tag
        run: |
          FE_IPS=$(aws ec2 describe-instances \
            --filters "Name=tag:Name,Values=Hackton-front" "Name=instance-state-name,Values=running" \
            --query "Reservations[].Instances[].PublicIpAddress" \
            --output text)
          echo "FE_IPS=$FE_IPS" >> $GITHUB_ENV

      - name: Deploy to all FE instances
        run: |
          for IP in $FE_IPS; do
            # scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa .env \
            #   ubuntu@$IP:/home/ubuntu/AWS_DOCKER/fe

            ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ubuntu@$IP \
              "cd /home/ubuntu/AWS_DOCKER/fe && docker compose down && docker compose pull && docker compose up -d"
          done
